@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Merriweather:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* { margin: 0;
    padding: 0;
    background-color: rgb(139, 146, 241);
    font-family: 'Roboto', sans-serif;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container-card {

    border: 3px solid white;
    height: 650px;
    width: 500px;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid white;
    box-shadow: 15px 15px 15px #00000020;
    margin: 2rem 2rem 2rem 2rem;
}

.header-card {

    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
}

.main-card img {

    height: 300px;
    width: 300px;
    display: flex;
}

.card-name {

    margin-left: 3rem;
    margin-top: 1rem;
}


.divisao {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.data-card {

    margin-bottom: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
}

h2 {

    margin-top: 1rem;
    margin-bottom: 1rem;
}


section#atualizar-pokemon form{

    width: 100%;
    display: flex;
    padding: 1rem;
    margin-right: 20rem;
    flex-direction: column;

}

section#atualizar-pokemon form input{

    
    width: 70%;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    margin-bottom: 1rem;
    border: solid 3px white;
    font-weight: bolder;


}




section#atualizar-pokemon form button {

   padding: 0.4rem;
   width: 17%;
   display: flex;
   margin-left: 0 auto;
   background-color: white;
   color: blacks;
   border: solid 3px rgb(139, 146, 241);
   border-radius: 1rem;
   cursor: pointer;
}

section#atualizar-pokemon form button:hover {

    background-color: rgb(139, 146, 241);
    color: white;
    border: solid 3px white;
}