@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Merriweather:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* { margin: 0;
    padding: 0;
    background-color: rgb(139, 146, 241);
    font-family: 'Roboto', sans-serif;
}

.titulo{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 30px 0; 
 }
 
 .titulo::before,
 .titulo::after{
    content: '';
    position: relative;
    height: 1px;
    background: white;
    min-width: 10px;
    flex-grow: 1; 
 }
 
 .titulo span{
    color: #fff; 
    padding: 1 30px; 
    font-weight: bold; 
    font-size: 2em; 
 }

section.cards {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.card-pokemon {

    width: 300px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 3px solid white;
    box-shadow: 15px 15px 15px #00000020;
    padding: 1rem;
    margin-top: 2rem;
}

.card-top {

    
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
}

.card-mid img {

    height: 300px;
    width: 300px;
    
    
}


.dados-center {

    
    
    margin-right: 100px;
    margin-bottom: 5px;
    
}

.text-descricao {

    margin-bottom: 30px;
    margin-left: 20px;
}

section#cadastro {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;

}

section#cadastro h2{

    width: 100%;
    text-align: center;
    padding-bottom: 5rem;

}

section#cadastro form input{

    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    margin-bottom: 1rem;
    border: solid 3px white;
    font-weight: bolder;

}

section#cadastro form{

    width: 50%;

}

section#cadastro form button {

   padding: 0.4rem;
   width: 20%;
   display: flex;
   margin: 0 auto;
   background-color: white;
   color: blacks;
   border: solid 3px rgb(139, 146, 241);
   border-radius: 1rem;
   cursor: pointer;
}

section#cadastro form button:hover {

    background-color: rgb(139, 146, 241);
    color: white;
    border: solid 3px white;
}